<style type="text/css">
.multichoice {
  width: 100%;
  height: 100%;
}
.multichoice .title {
  height: 40px;
  font-size: 125%;
  font-weight: bold;
}
.multichoice .question {
  margin: 1em 4px;
}
.multichoice label {
  cursor: pointer;
  display: block;
  padding: 4px;
}
.multichoice ul.answers {
  list-style: none;
  margin: 1em 4px;
  padding: 0;
}
.multichoice .answer {
  height: 40px;
  margin: 0.5em 10px 1em 0px;
  box-shadow: 2px 2px 4px #bababa;
}
.multichoice .answer.selected {
  background: #dadada;
}
.multichoice .answer input {
  display: none;
}
</style>
<div class="multichoice">
  <div class="title"><%= title %></div>
  <% if (illustration) { %>
    <div class="illustration"><img src="<%= illustration %>"></div>
  <% } %>
  <div class="question"><%= question %></div>
  <form>
    <ul class="answers">
      <% for (var i=0; i<answers.length; i++) { %>
        <li class="answer<% if (userAnswers.contains(i)) { %> selected<% } %>">
          <label>
            <% if (singleAnswer) { %>
            <input type="radio" name="answer" value="answer_<%= i %>"<% if (userAnswers.contains(i)) { %> checked<% } %>>
            <% } else { %>
            <input type="checkbox" name="answer_<%= i %>" value="answer_<%= i %>"<% if (userAnswers.contains(i)) { %> checked<% } %>>
            <% } %>
            <span><%= answers[i].text %></span>
          </label>
        </li>
      <% } %>
    </ul>
  </form>
</div>
