<div class="multichoice">
  <div class="title"><%= title %></div>
  <% if (illustration) { %>
    <div class="illustration"><img src="<%= illustration %>"></div>
  <% } %>
  <div class="question"><%= question %></div>
  <ul class="answers">
    <% for (var i=0; i<answers.length; i++) { %>
      <li class="answer">
        <label>
          <% if (singleAnswer) { %>
          <input type="radio" name="answer" value="answer_<%= i %>">
          <% } else { %>
          <input type="checkbox" name="answer_<%= i %>">
          <% } %>
          <span><%= answers[i].text %></span>
        </label>
      </li>
    <% } %>
  </ul>
</div>
